# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
x = tuple(range(1,11))
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
first,*middle,last = x
print(first,middle,last,sep='\n')

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(x[:3],x[:-4:-1],x[2:5],sep='\n')

(1, 2, 3)
(10, 9, 8)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
y = ((1,2,3),(4,5,6),(7,8,9))
print(y[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
a = (1,2,3)
b = (4,5,6)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [11]:
demo = (1,2,2,3,3,3)
print(demo.count(3),demo.index(2),sep='\n')

3
1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
ele = (1,2,3,4,5)
a,b,c,d,e = ele
print(a,b,c,d,e,sep='\n')

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [14]:
x = tuple(list(range(1,6)))
print(x)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [16]:
z = ((1,2,3),(4,5,6),(7,8,9))
print(z[0],z[1],z[2],sep='\n')

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [17]:
tup = (1,2,3,4,5)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
# Original string
original_string = "Hello, World!"

# Creating a tuple of characters
char_tuple = tuple(original_string)

# Joining the tuple elements into a single string
joined_string = ''.join(char_tuple)
# Printing the string
print(joined_string)

Hello, World!

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [25]:
dict = {
    (1,2):3,
    (4,5):6
}
print(dict)

{(1, 2): 3, (4, 5): 6}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [26]:
nested_tuple  = ((1,2,3),(4,5,6),(7,8,9))
for i in nested_tuple:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [27]:
t = (1,2,2,3,3,3,4,4,4,4)
s = set(t)
print(s)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [29]:
def agg_tup(tup):
    print(sum(tup),max(tup),min(tup),sep='\n')
    # sum=0
    # max=tup[0]
    # min=tup[0]
    # for i in tup:
    #     sum+=i
    #     if max>i:
    #         max=i
    #     if min<i:
    #         min=i
    # print(sum,max,min,sep='\n')

agg_tup((1,2,3,4,5,6,7,8,9,10))

55
10
1